.del {
    background: rgba(214, 48, 49, .8); 
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
}
.del:hover {
    background: rgba(214, 48, 49, 1); 
}
.todo {
    background: rgba(178, 190, 195, .8); 
    padding: 10px;
    border-bottom: 1px #636e72 dotted;
}

.is-complete {
    text-decoration: line-through;
}