<div class="about-bg">
  <h1>Angular 7 custom ToDo list app</h1>
  <p>
    1. Utilizing <a href="https://jsonplaceholder.typicode.com">JSONPlaceholder </a> as a fake online REST API for testing / protyping
    out this ToDO list app.<br/>
  </p>
  <p>
    2. Seperated everything into components, pages and layout sections.
  </p>
  <p>
    3. Custom API service for all get requests.
  </p>
  <p>
    4. Error handler service for custom error output to console.
  </p>
  <p>
    5. Model for consistant data format.
  </p>
</div>
